/* RESET */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #ffffff;
  color: #1f2933;
}

/* NAVBAR */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #ffffff;
  border-bottom: 3px solid #f97316;
}

nav ul {
  list-style: none;
  display: flex;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  text-decoration: none;
  color: #1f2933;
  font-weight: bold;
}

nav ul li a:hover {
  color: #f97316;
}

.logo {
  color: #f97316;
}

/* HERO */
.hero {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff7ed;
}

.hero h1 {
  font-size: 40px;
}

.hero p {
  font-size: 18px;
}

/* BUTTON */
.btn {
  margin-top: 20px;
  padding: 10px 25px;
  background: #f97316;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

/* PAGES */
.page {
  padding: 60px;
}

/* CARDS */
.card {
  background: #fff7ed;
  padding: 20px;
  margin: 15px 0;
  border-left: 5px solid #f97316;
  border-radius: 6px;
}
